body{font-family: "Anton SC", sans-serif;}
header{
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-top: 20px;
  }
  header h1{
    font-family: "Anton SC", sans-serif;
    font-weight: 800;
    font-size: 25px;
    font-style: italic;
  text-shadow: 2px 2px black;
  margin-left: 10px;}
  header span{
    font-size: 30px;
    font-style: normal;
    text-shadow: 3px 3px black;
    
  }
  nav{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    position: relative;
    margin-top: 18px;
    padding-left: 10px;
    gap: 15px;
    
  }
  nav a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
   font-family:'Baskerville',sans-serif;
   font-size: 10px;
   font-weight: bold;
   position: relative;
  }
  nav a::after{
    position: absolute;
    height: 2px;
    width: 0px;
    left: 1px;
  
    bottom: -5px;
    content: '';
    transition: width 0.3s ease;
    background-color: white;
  }
  nav a:hover::after{
    width: 100%;
    
  }
  .icons{
    margin-left: 200px;
    margin-top: 18px;
    font-size: 12px;
    gap: 20px;
    
  }
  .icons i{
    padding-left: 10px;
    cursor: pointer;
  }

  input::placeholder{
    font-weight: 600;
    font-size: 15px;
    color: rgb(167, 158, 158);
  }
  footer{
    background-image: url("./images/footer-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    padding-top: 10px;
    overflow: hidden;
    margin: 0;
    padding-top: 40px;
    
  }
  
  
  .footer-icon{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    gap: 4rem;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
   
  }
  
  .container-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    padding-left: 30px;
  }
  
  .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    color: black;
  
  }
  
  .list li{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500
  }
  .list h1{
    width: 150px;
  }
  
  .line {
    width: 1000px;
    height: 2px;
    background-color: black;
    border: none;
    margin: 0;
  }
  
  .lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .contact-info {
    color: black;
    display: flex;
    justify-content: space-around;
    gap: 180px;
    text-align: center;
    font-size: 16px;
    color: #333;
  }
  
  .contact-info i {
    margin-right: 8px;
    color: #555;
  }
  .copyright{
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    height: 30px;
    align-items: center;
  }